<div id="<%= dom_id party %>">
  <p>
    <strong>Title:</strong>
    <%= party.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= party.description %>
  </p>

  <p>
    <strong>Event date:</strong>
    <%= party.event_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= party.location %>
  </p>

  <%# <p>
    <strong>User:</strong>
    <%= party.user_id %>
  <%# </p> %>

</div>
