<div id="create_group_form">

  <h3>You're just 2 steps away from creating a group...</h3>

  <p><%= render "errors/errors" %></p>

  <div id="text-area">
    <p><%= form_for @group, url: groups_path, method: :post do |f| %></p>
    <div>
      <p><%= f.label "Name your group:", id: "create_group_label" %></p>
      <p><%= f.text_field :name %></p>
    </div>
    <div>
      <p><%= f.label "Set max individual budget £:", id: "create_group_label" %></p>
      <p><%= f.text_field :budget %></p>
    </div>
    <p><%= f.submit "Create group", id: "create_group_button" %></p>
    <% end %>
  </div>

  <div >
    <%= button_to "Back to homepage", show_path, method: :get, id: "home_page_button" %>
  </div>


  <p>Note: You will automatically be assigned to this group </p>

</div>
