
<%= render "errors/errors" %>



<div id="group_home">
  <% if @draws %>


  <div id="group_name">
    <h1><%= @group.name %></h1>
  </div>

  <div id="group_max">
    <h4>Max budget for Participants: £<%= @group.budget %> </h4>
  </div>

  <div id="group_participants">
    <h4>Participants: <%= @group.users.length %></h4>
  </div>



  <h3 id="draw_made_heading">The draw has been made!</h3>
    <% @draws.each do |draw| %>
        <p id="pair_draw_box"><span id="person_name"><%= "#{draw[0].name}"%></span>  <span id="cracker_image"><%= image_tag("christmas_cracker.png") %></span> <span id="person_name"><%="#{draw[1].name}" %></span></p>
    <% end %>

    <% else %>

      <div id="group_name">
        <h1><%= @group.name %></h1>
      </div>

      <div id="group_max">
        <h4>Max budget for Participants: £<%= @group.budget %> </h4>
      </div>

      <div id="group_participants">
        <h4>Participants: <%= @group.users.length %></h4>
      </div>

      <ul class="list-group" id="event_member_list">
        <% if @group.users.length > 0 %>
          <% @group.users.each do |user| %>
            <li class="list-group-item"><p id="participanting_members"><%= user.name.capitalize %></p></li>
          <% end %>
        <% end %>
      </ul>

  <% end %>
  <div id="group_home_buttons">
    <div>
      <%= button_to "Add Participants", add_user_path, method: :get, id: "group_buttons" %>
    </div>

    <div>
      <%= button_to "Make draw", draw_path, method: :post, id: "group_buttons" %>
    </div>

    <div>
      <%= button_to "Back to homepage", show_path, method: :get, id: "group_buttons" %>
    </div>
  </div>
</div>
