<div id="user_home">

  <!-- message displays on top panel -->
  <div id="user_welcome">
    <h1>Kubis Secret Santa <span><%= "#{current_user.name.capitalize}!" %></span></h1>
  </div>

  <%= button_to( "Log Out", destroy_user_session_path, method: :delete ) %>

  <!-- users panel displays options -->
  <div id="user_panel">

    <!-- user able to execute different options  -->
    <div id="user_event">
      <p><%= button_to "Create an Event", new_group_path, method: :get, id:'create_event_button' %></p>
      <% if current_user.groups.length > 0 %>
        <h3>Your events:</h3>
        <% current_user.groups.each do |group| %>
          <div id="user_event_info">
            <p><%= link_to group.name, group, id: "group_link" %></p>
            <p><%= button_to "Delete event", group_path(group), method: :delete, id: "delete_event" %></p>
          </div>
        <% end %>
      <% else %>
        <h3 id="no_event">You have not created any events yet!</h3>
      <% end %>
    </div>

    <div id="user_wishlist">
      <p><%= button_to "Add to your wishlist", new_gift_path, method: :get, id: 'create_wish_button' %></p>
      <% if !current_user.gifts.empty? %>
        <h3 id="not_empty"><%= "#{current_user.name.capitalize}'s wishlist" %></h3>
          <% current_user.gifts.each do |gift| %>
              <% if gift.price %>
                <div id="user_wishlist_info">
                  <p><%= link_to gift.name, gift,id: "gift_link" %> <%= " and its only £#{gift.price}!" %> </p>
                  <p><%= gift.description %></p>
                  <p><%= button_to "Delete Gift", gift_path(gift), method: :delete, id: "remove_gift" %></p>
                </div>
                <% else %>
                  <p><%= link_to gift.name, gift, id: "gift_link" %> </p>
              <% end %>
              <% end %>
      <% else %>
        <h3 id="no_wish" >Your wishlist is empty!</h3>
      <% end %>
    </div>


    <div id="all_user_wishlists">
      <h2 id="wishlist_title">All Users' Wishlist</h2>
      <% User.all.each do |user| %>
        <div>
          <h4><%= user.name.capitalize %>'s wishlist</h4>
        </div>
    <div id="homebody">
      <ul>
        <% if user.gifts.length > 0 %>
          <% user.gifts.each do |gift| %>
          <% if gift.price %>
            <p><%= link_to gift.name, gift %> <%= " and its only £#{gift.price}!" %> </p>
          <% else %>
            <li><%= link_to gift.name, gift %> </li>
          <% end %>
          <% end %>
        <% else %>
          <p><%=user.name.capitalize%> doesn't have any wishlist yet!</p>
        <% end %>
      <ul>
    </div>


      <button type="button" class="btn btn-primary btn-lg">
        <%= user.name %>
      </button>
      <% end %>
    </div>
</div>
