<div class="container" id="giftindex">
  <h1><%= @user.name.capitalize %>'s Wishlist</h1>
  <%= link_to "New wish", new_gift_path %>

  <div class="card gift_index" style="width: 18rem;">
    <% @gifts.each do |gift| %>
      <div class="card-header">
        <%= link_to gift.name.capitalize, gift %>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= gift.description %></li>
        <li class="list-group-item"><%= link_to "Edit Gift", edit_gift_path(gift) %></li>
      </ul>
    <% end %>
  </div>
</div>
