<div id="giftformbody">
  <div id="create_gift_form">
    <h2>Add a new gift</h2>
    <div id="text-area">
      <p><%= form_for @gift, url: gifts_path, method: :post do |f| %></p>
      <div>
        <p><%= f.label "Name:", id:"create_gift_label" %></p>
        <p><%= f.text_field :name %></p>
      </div>
      <div>
        <p><%= f.label "Price in £:", id: "create_gift_label" %></p>
        <p><%= f.text_field :price %></p>
      </div>
      <div>
        <p><%= f.label "Description:", id: "create_gift_label" %></p>
        <p><%= f.text_field :description %></p>
      </div>
      <p><%= f.submit "Create", id: "create_gift_button" %></p>
      <% end %>
    </div>
      <div >
      <%= button_to "Back to homepage", show_path, method: :get, :class => "home_page_button" %>
    </div>
  </div>
</div>
