<p style="color: green"><%= notice %></p>

<%= render @gift %>

<div>
  <%= link_to "Edit this gift", edit_gift_path(@gift) %> |
  <%= link_to "Back to gifts", gifts_path %>

  <%= button_to "Destroy this gift", @gift, method: :delete %>
</div>



<% if @gift.price %>
  <p>Price: £<%= @gift.price %></p>
<% else %>
  <p>There is no price.</p>
<% end %>

<% if !@gift.description.empty? %>
  <p>Description :</p>
  <p><%= @gift.description %></p>
<% else %>
  <p>There is no description.</p>
<% end %>
