
  <div id="login_form">
  <h2>Login to Secret Santa</h2>
    <div id="text-area">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div>
        <p><%= f.label :email, id: "login_label" %><br /></p>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
      </div>
      <div>
        <p><%= f.label :password, id: "login_label" %><br /></p>
        <p><%= f.password_field :password, autocomplete: "current-password" %></p>
      </div>
        <p> <%= f.submit "Log in", id: "login_button" %></p>
        <% end %>
    </div>
    <h4>New? <%= link_to "Sign Up Here", new_user_registration_path %> </h4>
  </div>
