<h2>Log in</h2>

<div class="login_form">
    <h2>Login to Flatiron Secret Santa</h2>
    <%= render "errors/errors" %>
    <div class="text-area">
      <p><%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %></p>
      <div>
        <p><%= f.label :name, class: "login_label" %></p>
        <p><%= f.text_field :name %></p>
      </div>
      <div>
        <p><%= f.label :password, class: "login_label" %></p>
        <p><%= f.text_field :password %></p>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <p class="hype"><%= f.submit "Submit", :class => "login_button" %></p>
      <% end %>
    </div>
    <h4>New? <%= link_to "Login Here", new_user_session_path %> </h4>
  </div>
  <%= render "devise/shared/links" %>
